@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Montserrat&display=swap');
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

body{
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 48px;
}

table {
    color: #333;
    background: white;
    border: 1px solid grey;
    border-collapse: collapse;
  }
table thead th,
table tfoot th {
    color: #777;
    background: rgba(0,0,0,.1);
  }
table caption {
    padding:.5em;
  }
table th,
table td {
    padding: .5em;
    border: 1px solid lightgrey;
  }
tbody tr:nth-of-type(odd) {
    background: rgba(0,0,0,.05);
  }
form{
   margin-bottom: 32px; 
   display: flex;
   
}
label{
    flex-grow: 3;
    flex-basis: 25%;
}
.buttons{
    flex-grow: 1;
}
button{
    width: 64px;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 1200px;
}